
body{
  display: flex;
  justify-content: center;
  align-items: center;
}


.container{
  width: 80%;
  display: grid;
grid-template-columns: repeat(6, 1fr);
grid-template-rows: repeat(12, 1fr);
// grid-column-gap: 20px;
grid-row-gap: 0px;
  .seat{
     background-color: #17640c;
    height: 26px;
    width: 30px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    border: 1px solid black;
    &:nth-child(3){
      margin-right: 20px;
    }
    &:nth-child(6){
      margin-right: 0;
    }
    &:not(.occupied):hover{
      cursor: pointer;
      transform: scale(1.2);
    }
    
  }
  .selected{
      background-color: yellow;
      border: 1px solid black;
    }
  .occupied{
    background-color: #ec270d;
    
      border: 1px solid black;
    }
}


button {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 30%;
  will-change: transform;
  &:disabled{
    pointer-events: none;
  }
  &:active{
    box-shadow: none;
    transform: translateY(0);
  }
  &:hover{
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
}


form{
  width: 40%;
  height: 300px;
  max-height: 300px;
  overflow: hidden;
  font-family:'Comic Sans MS';
   font-size:18px;
   font-weight:bold;
   line-height:22px;
   text-align:left;
   color:#070605;
   background-color: #d7d7d7;
    border-radius: 20px;
   padding:20px;
   .choosen-seats{
    width: 50%;
    height: 50px;
   }
   .total-price{
    width: 50%;
    height: 100px;
   }
}

@media (min-width: 768px) {
  button {
    padding: 0 2.6rem;
  }
}
